body {
  font-family: Arial, sans-serif;
  background: #fff2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

.container {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: black;
  width: 350px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  width: 100%;
  background: #4a90e2;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #357abd;
}

.toggle {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.toggle span {
  color: #4a90e2;
  cursor: pointer;
}

#registerForm {
  display: none;
}
